
<div  class="main w-25 m-auto vh-50 mt-5">
  <div class="scissors"  (click)="genetateRandom()" [routerLink]="'/begins/'+0">
    <img [src]="gameData[0]" alt="">
  </div>
  <div class="paper-sec">
    <div class="spock" (click)="genetateRandom()" [routerLink]="'/begins/'+1">
      <img [src]="gameData[1]" alt="">
    </div>
    <div class="paper" (click)="genetateRandom()" [routerLink]="'/begins/'+2">
      <img [src]="gameData[2]" alt="">
    </div>
  </div>
  <div class="rock-sec" (click)="genetateRandom()" [routerLink]="'/begins/'+3">
    <div class="lizard">
      <img [src]="gameData[3]" alt="">
    </div>
    <div class="rock" (click)="genetateRandom()" [routerLink]="'/begins/'+4">
      <img [src]="gameData[4]" alt="">
    </div>
  </div>
</div>
