<app-score></app-score>
<router-outlet></router-outlet>
<!-- <app-game></app-game> -->
<button (click)="openRules()" class="rules bg-transparent rounded px-5 py-2 border-light ">RULES</button>
<div *ngIf="rules==true" class="rule-container position-absolute top-0 bottom-0 start-0 end-0">
  <div class="rule-sheet p-4">
    <div class="test w-100 h-100 ">
    <img src="../assets/images/image-rules-bonus.svg" alt="">
    <div class="close-sheet w-100 h-100 ">
      <img (click)="closeRules()" src="../assets/images/icon-close.svg" alt="">
    </div>
 </div>
  </div>

</div>
